{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            {% if message.picture is not empty %}
            <img src="{{ asset('uploads/pictures/' ~ message.picture) }}" style="max-width: 256px;" />
            {% endif %}<br />
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('message_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
