{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'message.list.title'|trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'message.list.id'|trans }}</th>
                <th>{{ 'message.list.content'|trans }}</th>
                <th>{{ 'message.list.created_at'|trans }}</th>
                <th>{{ 'message.list.updated_at'|trans }}</th>
                <th>{{ 'message.list.user'|trans }}</th>
                <th>{{ 'message.list.picture'|trans }}</th>
                <th>{{ 'message.list.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.content }}</td>
                <td>{% if message.createdAt %}{{ message.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.updatedAt %}{{ message.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.user.id }}</td>
                <td>
                    {% if message.picture is not empty %}
                        {% if message.picture|ext == 'mp4' %}
                            <video width="80" height="45" controls="controls">
                                <source src="{{ asset('uploads/pictures/' ~ message.picture) }}" type="video/mp4" />
                            </video>
                        {% else %}
                            <img src="{{ asset('uploads/pictures/' ~ message.picture) }}" style="max-width: 64px;" />
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('message_show', { 'id': message.id }) }}">{{ 'message.list.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">{{ 'message.list.edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_new') }}">{{ 'message.list.create_new_message'|trans }}</a>
        </li>
    </ul>
{% endblock %}
