{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        Contenu : 
        <form method="post" action="{{ path('message_new') }}" enctype="multipart/form-data">
            <div class="form-group">
                {{ form_widget(form.content) }}
            </div>

            <div class="form-group">
                {{ form_label(form.picture) }}
                {{ form_widget(form.picture) }}
            </div>
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>

{% endblock %}
