{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if message.createdAt %}{{ message.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if message.updatedAt %}{{ message.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>
                    {% if message.picture is not empty %}
                        {% if message.picture|ext == 'mp4' %}
                            <video width="320" height="180" controls="controls">
                                <source src="{{ asset('uploads/pictures/' ~ message.picture) }}" type="video/mp4" />
                            </video>
                        {% else %}
                            <img src="{{ asset('uploads/pictures/' ~ message.picture) }}" style="max-width: 256px;" />
                        {% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>User</th>
                <td>{{ message.user.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('message_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
